<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a new car</title>
</head>
<body>
    
    <!--Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Speed Hunters</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/loginForm}">Sign in</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/createUser}">Sign up</a></li>
            </ul>
        </div>
    </nav>
    <!--Navigation-->

<h1>Create a car:</h1>

<form th:action="@{/createCar}"
      th:object="${carDTO}" method="POST">
    Brand:
    <input type="text" th:field="*{brand}"/>
    <br/>
    Model:
    <input type="text" th:field="*{model}"/>
    <br/>
    VIN:
    <input type="text" th:field="*{vin}"/>
    <br/>
    Year:
    <input type="text" th:field="*{year}"/>
    <br/>
    Login:
    <input type="text" th:field="*{user.login}"/>
    <br/>
    <input type="submit" value="Create"/>
</form>
</body>
</html>