<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a new car</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="C:\Users\Иван\IdeaProjects\service-station\src\main\resources\templates\css\main.css">
</head>
<body>
    
    <!--Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Speed Hunters</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/loginForm}">Sign in</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/createUser}">Sign up</a></li>
            </ul>
        </div>
    </nav>
    <!--Navigation-->

     <!--Main-->
     <section>
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="content-box-column">Create a car:</h1>
                <form th:action="@{/createCar}" th:object="${carDTO}" method="POST">
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="registerBrand" th:field="*{brand}"/>
                        <label class="form-label" for="registerBrand">Brand</label>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="registerModel" th:field="*{model}"/>
                        <label class="form-label" for="registerModel">Model</label>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="registerVin" th:field="*{vin}"/>
                        <label class="form-label" for="registerVin">VIN</label>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="registerYear" th:field="*{year}"/>
                        <label class="form-label" for="registerYear">Year</label>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="registerLogin" th:field="*{user.login}"/>
                        <label class="form-label" for="registerLogin">Login</label>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6">
                    <button type="submit" class="btn btn-primary" value="Create">Create</button>
                </div>
            </div>
            </form>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
<!--Main-->

    <!--Footer-->
    <footer>
        <div class="container">
            <div class="row footer">
                <div class="fusion-column col-lg-6 col-md-6">
                    <div class="content-box-column">
                        <h2 class="content-box-footer">CALL US TODAY!</h2>
                        <nav>
                            <div class="contact-information">
                                <ul>
                                    <li><a href="tel:+375291234567">Tel: +375-(29)-123-45-67</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="fusion-column col-lg-6 col-md-6">
                    <div class="content-box-column">
                        <h2 class="content-box-footer">WE ARE OPEN!</h2>
                            <div class="contact-information">
                                    <p>Mon-Fri 8:30-17:30</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>