<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Work Order</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
     <!--Navigation-->
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Speed Hunters</a>
            <form th:action="@{/logout}" method="POST">
                <input type="submit" value="Logout"/></form>
        </div>
    </nav>
    <!--Navigation-->

    <!--Main-->
     <section>
         <div class="container">
             <div class="row justify-content-center">
                 <h1 class="content-box-column">Work order</h1>
             </div>
             <form th:action="@{/workOrders/{workOrderId}(workOrderId = ${workOrder.id})}"
                   th:object="${workOrderDTO}" method="POST">
                 <div class="row justify-content-center">

                     <div class="col-md-12 table-responsive">
                         <table class="table table-bordered table-hover table-sortable" id="tab_logic">

                             <thead>
                                 <tr>
                                     <th class="text-center">Status</th>
                                     <th class="text-center">Worker</th>
                                     <th class="text-center">Start time</th>
                                     <th class="text-center">End time</th>
                                 </tr>
                                 </thead>

                                 <tbody>

                                 <tr id='addr0' data-id="0" class="hidden">
                                     <td data-name="status">
                                         <select class="form-control" th:field="${workOrder.status.name}"  id="dropStatus">
                                             <option value="0">select status</option>
                                             <option th:each="status : ${statuses}" th:value="${status.id}" th:text="${status.name}"></option>
                                         </select>
                                     </td>

                                     <td data-name="worker">
                                         <select class="form-control" th:field="${workOrder.worker.lastName}"  id="dropWorker">
                                             <option value="0">select worker</option>
                                             <option th:each="worker : ${workers}" th:value="${worker.id}" th:text="${worker.lastName}"></option>
                                         </select>
                                     </td>

                                     <td data-name="desc">
                                         <form method="post" th:object="${workOrder}">
                                                     <div class="input-group date">
                                                         <input type="date" class="form-control" id="startTime" autocomplete="off" th:field="*{startTime}"/>
                                                     </div>
                                         </form>
                                     </td>

                                     <td data-name="sel">
                                         <form method="post" th:object="${workOrder}">
                                             <div class="input-group date">
                                                 <input type="date" class="form-control" id="endTime" autocomplete="off" th:field="*{endTime}"/>
                                             </div>
                                         </form>
                                     </td>
                                 </tr>
                             </tbody>
                         </table>
                     </div>
                 </div>

                 <div class="row justify-content-center">
                     <div class="fusion-column col-lg-6 col-md-6">
                         <table class="table">
                             <thead>
                             <tr>
                                 <th scope="col">Brand</th>
                                 <th scope="col">Model</th>
                                 <th scope="col">VIN</th>
                                 <th scope="col">Year</th>
                             </tr>
                             </thead>
                             <tbody>
                             <tr>
                                 <th scope="col" th:text="${car.brand}"></th>
                                 <th scope="col" th:text="${car.model}"></th>
                                 <th scope="col" th:text="${car.vin}"></th>
                                 <th scope="col" th:text="${car.year}"></th>
                             </tr>
                             </tbody>
                         </table>
                     </div>

                     <div class="fusion-column col-lg-6 col-md-6">
                         <table class="table">
                             <thead>
                             <tr>
                                 <th scope="col">First Name</th>
                                 <th scope="col">Last name</th>
                                 <th scope="col">Phone number</th>
                             </tr>
                             </thead>
                             <tbody>
                             <tr>
                                 <th scope="col" th:text="${user.firstName}"></th>
                                 <th scope="col" th:text="${user.lastName}"></th>
                                 <th scope="col" th:text="${user.phoneNumber}"></th>
                             </tr>
                             </tbody>
                         </table>
                     </div>
                 </div>

                 <div class="row justify-content-center">

                 </div>

<!--                 <a id="add_row" class="btn btn-primary float-right">Add Row</a>-->
                 <button id="add_row" class="btn btn-primary pull-left">Add Row</button>
                 <button id='delete_row' class="pull-right btn btn-primary">Delete Row</button>

                 <div class="row justify-content-center">
                     <div class="col-lg-6 col-md-6">
                         <button type="submit" class="btn btn-primary" value="Create">Create</button>
                     </div>
                 </div>
             </form>
         </div>
     </section>
    <!--Main-->

    <!--Footer-->
<footer>
    <div class="container">
        <div class="row footer">
            <div class="fusion-column col-lg-6 col-md-6">
                <div class="content-box-column">
                    <h2 class="content-box-footer">CALL US TODAY!</h2>
                    <nav>
                        <div class="contact-information">
                            <ul>
                                <li><a href="tel:+375291234567">Tel: +375-(29)-123-45-67</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="fusion-column col-lg-6 col-md-6">
                <div class="content-box-column">
                    <h2 class="content-box-footer">WE ARE OPEN!</h2>
                        <div class="contact-information">
                                <p>Mon-Fri 8:30-17:30</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>