<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<h1>User info</h1>
<br/><br/>

<div th:each="user : ${users}">
    <a th:href="@{/user/{id}(id = ${user.id})}">
    </a>
</div>

<div>
    <table border="1">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Login</th>
            <th>Email</th>
            <th>Phone number</th>
        </tr>

        <td th:utext="${user.firstName}">...</td>
        <td th:utext="${user.lastName}">...</td>
        <td th:utext="${user.login}">...</td>
        <td th:utext="${user.email}">...</td>
        <td th:utext="${user.phoneNumber}">...</td>

    </table>
    <br/>
    <a th:href="@{/user/{id}/cars(id = ${user.id})}">My cars</a>
    <br/>
    <a th:href="@{/workOrder}">My work orders</a>
</div>

</body>
</html>