<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Cars</title>
</head>
<body>

<div th:each="car : ${cars}">
    <a th:href="@{/user/{id}/cars(id = ${user.id})}">
    </a>
</div>

<div>
    <table border="1">
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>VIN</th>
            <th>Year</th>
        </tr>

        <td th:utext="${car.brand}">...</td>
        <td th:utext="${car.model}">...</td>
        <td th:utext="${car.vin}">...</td>
        <td th:utext="${car.year}">...</td>

    </table>
    <br/>
    <a th:href="@{/createCar}">Create a new car</a>
</div>

</body>
</html>