<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <title>Main page</title>
</head>
<body>

    <!--Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Speed Hunters</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/auth/loginForm}">Sign in</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/users/createUser}">Sign up</a></li>
            </ul>
        </div>
    </nav>
    <!--Navigation-->

    <!--Header-->
    <header>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-8">
                    <div class="header-text-holder">
                        <h1>Welcome to our CAR SERVICE STATION!</h1>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Header-->

    <!--Main-->
    <section>
        <div class="container">
            <div class="row justify-content-center">
                    <div class="header-text-holder">
                        <h1>WHY CHOOSE US?</h1>
                        <p>Speed Hunters is a family run business that is proud to have served
                            the local community for over 10 years. Between our workshop, shop and forecourt
                            we have a team that are always keen to welcome you and help serve your 
                            requirements in a friendly and professional manner. 
                            We are one of the leading garage workshops and MOT testing stations in the area.</p>
                    </div>

                <div class="fusion-column col-lg-4 col-md-4">
                    <div class="content-box-column">
                        <div class="heading heading-with-icon">
                            <div aria-hidden="true" class="image">
                                <img src="/img/service1.png">
                            </div>
                            <div class="content-container">
                            <h2 class="content-box-heading">SERVICING & REPAIRS</h2>
                            <p>We offer servicing and annual maintenance on all makes and models of cars, at a competitive price.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fusion-column col-lg-4 col-md-4">
                    <div class="content-box-column">
                        <div class="heading heading-with-icon">
                            <div aria-hidden="true" class="image">
                                <img src="/img/service2.png">
                            </div>
                            <div class="content-container">
                            <h2 class="content-box-heading">EXHAUST</h2>
                            <p>Our in-house mechanics will quickly identify faults and repair or replace damaged exhausts.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fusion-column col-lg-4 col-md-4">
                    <div class="content-box-column">
                        <div class="heading heading-with-icon">
                            <div aria-hidden="true" class="image">
                                <img src="/img/service3.png">
                            </div>
                            <div class="content-container">
                            <h2 class="content-box-heading">TYRES</h2>
                            <p>An essential part of road safety is ensuring all tyres are within the legal requirements – we can replace worn tyres.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
            <div class="fusion-column col-lg-4 col-md-4">
                <div class="content-box-column">
                    <div class="heading heading-with-icon">
                        <div aria-hidden="true" class="image">
                            <img src="/img/service4.png">
                        </div>
                        <div class="content-container">
                        <h2 class="content-box-heading">MOT TEST STATION</h2>
                        <p>We offer complete MOT testing and can carry out any required repairs to ensure your vehicle is roadworthy.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fusion-column col-lg-4 col-md-4">
                <div class="content-box-column">
                    <div class="heading heading-with-icon">
                        <div aria-hidden="true" class="image">
                            <img src="/img/service5.png">
                        </div>
                        <div class="content-container">
                        <h2 class="content-box-heading">DIAGNOSTIC TESTING</h2>
                        <p>We offer full computerised diagnostics testing, enabling us to quickly identify and fix problems with your vehicle.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fusion-column col-lg-4 col-md-4">
                <div class="content-box-column">
                    <div class="heading heading-with-icon">
                        <div aria-hidden="true" class="image">
                            <img src="/img/service6.png">
                        </div>
                        <div class="content-container">
                        <h2 class="content-box-heading">AIR CONDITIONING</h2>
                        <p>We offer air-conditioning repairs, servicing and regassing to recharge your air-con system.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!--Main-->

    <!--Footer-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="fusion-column col-lg-6 col-md-6">
                    <div class="content-box-column">
                        <h2 class="content-box-footer">CALL US TODAY!</h2>
                        <nav>
                            <div class="contact-information">
                                <ul>
                                    <li><a href="tel:+375291234567">Tel: +375-(29)-123-45-67</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="fusion-column col-lg-6 col-md-6">
                    <div class="content-box-column">
                        <h2 class="content-box-footer">WE ARE OPEN!</h2>
                            <div class="contact-information">
                                    <p>Mon-Fri 8:30-17:30</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>